.mainmenu ul li:hover, .mainmenu ul li:hover ul li:hover, .mainmenu ul li:hover ul li:hover span {
  background-color: #4CB4E6;
  }
.ensettings, .totop, #search input.button, html ul.tabs li.active, html ul.tabs li.active a:hover, ul.tabs li a:hover, postbit_buttons > a:link,
.postbit_buttons > a:hover,
.postbit_buttons > a:visited,
.postbit_buttons > a:active, .pagination .pagination_current, .pagination a:hover {
    background: #4CB4E6;
}

.forum_on {
	background: #4CB4E6 url(../../../images/axis/on.png);	
}

.thead, .tfoot {
	background: #4CB4E6 url(../../../images/axis/mainbg.png) repeat-x;
	}

.ensettings::before {
border-bottom: 5px solid #4CB4E6;
}

.welcomename, .fbstats, .socialicons ul li a, .advsearch, .search-link, .breadcrumb .crust:last-child a.crumb, .home, a:link, a:visited, .post .post_author div.author_statistics {
color: #4CB4E6;
}

		